* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F1F1F1;
}

.nav-main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #BBB;
  z-index: 1000;
}

.btn-toggle-nav {
  width: 60px;
  height: 100%;
  padding: 0;
  background-color: #F98F39;
  background-image: url("img/menu.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  cursor: pointer;
}

.btn-toggle-nav:hover {
  opacity: 0.5;
}

.nav-main ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  height: 100%;
}

.nav-main ul li {
  list-style: none;
  line-height: 100%;
  transition: all 0.3s ease-in-out;
}

.nav-main ul li a {
  display: block;
  padding: 22px 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111;
  font-family: arial;
  font-size: 16px;
  white-space: nowrap;
}

.nav-main ul li:hover {
  background-color: #66ccff;
}

.nav-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 60px;
  height: calc(100vh - 60px);
  padding: 0;
  background-color: #1b1b1b;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.nav-sidebar ul {
  padding: 0 5px;
  overflow: hidden;
  visibility: hidden;
}

.nav-sidebar ul li {
  line-height: 60px;
  list-style: none;
}

.nav-sidebar ul li span, .nav-sidebar ul li a {
  display: block;
  height: 60px;
  padding: 0 5px;
  text-decoration: none;
  text-transform: uppercase;
  ;
  color: #FFF;
  font-family: arial;
  font-size: 16px;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.nav-sidebar ul li a:hover {
  background-color: #66ccff;
}

.card {
  display: block;
  width: 800px;
  margin: 90px auto;
}

.card h1 {
  font-size: 26px;
  text-transform: uppercase;
  margin-top: 33px;
  margin-bottom: 11px;
}

.card h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 50px;
}

.card-inner {
  display: block;
  box-shadow: -4px 7px 15px 1px rgba(118, 95, 91, 0.34);
  width: 100%;
  margin: 40px auto;
  padding: 60px 40px;
}

.card-social {
  margin: 22px -15px 0 45px;
  font-size: 20px;
}

.main {
  text-align: center;
}

.main li {
  margin: 5px 12px;
  display: inline-block;
  vertical-align: middle;
}

.main li a {
  text-decoration: none;
}

.container {
  background: white;
  margin: 0 auto;
}

.container .pic {
  width: 390px;
  height: 380px;
  background: white;
  position: relative;
  top: 0;
  transition: all 0.25s;
  border: 1px solid #ccc;
  float: left;
  margin-right: 5px;
}

.container .pic:hover {
  top: -10px;
  box-shadow: 5px 8px 5px #333;
}

.review {
  height: 72px;
  font-size: 14px;
  line-height: 72px;
  margin: 0 28px 8px;
}

.author {
  height: 18px;
  font-size: 12px;
  margin: 0 28px 8px;
}

.div1 {
  display: block;
  width: 268px;
  margin: 0 auto;
  box-shadow: -4px 7px 15px 1px rgba(118, 95, 91, 0.34);
}

.button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 40px;
}

.input1 {
  width: 260px;
  font-size: 20px;
}

.input2 {
  width: 260px;
  font-size: 40px;
}
